*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* REGOLE GENERALI */
a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

a:hover{
  color: white;
}

li{
  list-style-type: none;
}

body{
  color: white;
  font-family: 'Montserrat', sans-serif;
}




/* STRUTTURA ASIDE */

.menu{

  height: calc(100vh - 100px);
  width: 230px;
  position: fixed;
  background-color: black;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* style aside */

.aside-top{


}

.menu img{
  width: 70%;
}

.aside-top > ul{
  margin-top: 20px;


}

.menu-li{
  padding: 8px 0;
  list-style-type: none;
}



.play-tit{
  margin: 10px 0;
}

.play-list-menu > ul {

}

.box{

  border: solid;
  width: 30px;
  height: 30px;

}

.app{
  border-bottom: solid grey 1px;
  padding-bottom: 6px;
}

.song{
  padding-top: 6px;
}


/* QUERY ASIDE */
.query-side{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  opacity: 0.8;
  padding: 5px 0;
  height: 100%;
  display: none;
}

.img-profilo{
  width: 34px;
  height: 34px;
  background: grey;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#img-ico-prof{
  color: white;
  width: 100%;
  height: 80%;
}

#img-bot-1{
  height: 20px;
  width: 20px;
  margin-left: -5px;
}

.query-side-bot a {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

/* UPGRADE  */

.upgrade{
  background-color: rgba(0, 0, 0, 0.4);
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  left: 230px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 4;
}

.upgrade button{
  width: 200px;
  height: 50px;
  background-color: transparent;
  margin-right: 50px;
  border-radius: 30px;
  border: #fff solid 2px;
  font-weight: 600;
  font-size: 13px;
  color: white;
  opacity: 0.8;
}

.upgrade button:hover{
  cursor: pointer;
  transform: scale(1.12);
}

/* MAIN  */

/* struttra main*/

main{
  background: #141922;
  height: calc(100vh - 100px);
  margin-left: 230px;
  overflow-y: scroll;

}

.cont-menu{
  width: 100%;
  margin-top: 100px;
}

.nav-menu ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.songs{
  display: flex;
  margin: 20px 0;

}

.box-songs{

  flex-basis: calc(100% / 6);
  padding: 0 20px;


}

.box-img{
  width: 100%;
  position: relative;
}

main img{
  max-width: 100%;
}

.img-hover{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;


}

.img-hover:hover{
  opacity: 1;
}


.titoli-songs{
  text-align: center;
  line-height: 1.5;
  margin-top: 15px;
  font-size: 18px;
}

.titoli-songs a{
  font-size: 12px;
}



.nav-li{
  margin-top: 20px;
  padding: 0 10px;
  font-size: 15px;
}

.menu-songs{
  margin-left: 20px;
}

.titles{
  margin: 35px 0 35px 0;
  padding-left: 20px;
  line-height: 1.35;
}

.titles h2{
  font-size: 30px;
}

.titles p{
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;
}

.radius-box{
  border-radius: 100%;
  overflow: hidden;
}

.radius-img{
  border-radius: 100%;
}

.box-img:hover {
  cursor: pointer;
}
/* Fine main */


/* FOOTER PLAYER */




footer{
  background: #282828;
  position: fixed;
  height: 100px;
  width: 100vw;
  bottom: 0;
  left: 0;
}

.player{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
}


/* left-player */

.left-player{
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex-basis: 220px;
  justify-content: space-around;
}

.left-player img{
  width: 45px;
  height: 100%;
}

.left-players-titles{
  line-height: 1.2;
  font-size: 13px;
}

#big-tit{
  color: white;
  font-weight: 600;
}

.lit-ico{
  margin-left: 5px;
}


/* cent-player */

.cent-player{
  height: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  flex-basis: 800px;
  margin: 0 15px;
}

.buttons-player ul{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-player ul li{
  padding: 0 15px;
  font-size: 20px;
}
.buttons-player ul li:hover{
  cursor: pointer;
}

#cent-ico{
  font-size: 35px;
}

#cent-ico:hover{
  transform: scale(1.2);
}

.barra-progress{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 11px;
  margin-top: 10px;
  position: relative;

}

.prog-bar{
  width: 88%;
  height: 4px;
  background-color: grey;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.prog-bar-hover{
  width: 33%;
  background-color: rgba(255, 255, 255, 0.6);
  height: 4px;
  border-radius: 10px;
}

.bar-point{
  position: absolute;
  left: 34%;
  bottom: 0.5px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: white;
  display: none;

}

.prog-bar:hover .bar-point, .vol-bar:hover .bar-point{
  display: block;
}

.prog-bar:hover .prog-bar-hover, .vol-bar:hover .prog-bar-hover{
  background-color: greenyellow;
  cursor: pointer;
}

/* right-player */

.right-player{
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

.right-player a{
  margin-right: 15px;
}

.vol-bar{
  background: grey;
  height: 4px;
  width: 150px;
  border-radius: 10px;
}

#vol-bar-point{
  left: 57%;
  bottom: 3px;
}


/* MEDIA QUERY */
@media screen and (max-width: 1600px){

  .songs{
    flex-wrap: wrap;
    padding: 0 10px;
  }

  .box-songs{
    flex-basis: calc(100% / 5);
    padding: 0 5px;
  }


}

@media screen and (max-width: 1400px){


  .box-songs{
    flex-basis: calc(100% / 4);
    padding: 0 5px;
  }


}



@media screen and (max-width: 1200px){


  .box-songs{
    flex-basis: calc(100% / 3);
    padding: 0 5px;
  }


}


@media screen and (max-width: 850px){


  .box-songs{
    flex-basis: calc(100% / 2);
  }



}

@media screen and (max-width: 650px){

  .aside-top{
    display: none;
  }

  .aside-bot{
    display: none;
  }

  .menu{
    width: 50px;
    padding: 0 8px;
  }

  main{
    margin-left: 50px;
  }

  .upgrade{
    left: 50px;
  }

  .query-side img{
    height: 34px;
    width: 34px;
  }

  .query-side{
    display: flex;
  }


}

@media screen and (max-width: 450px){


  .box-songs{
    flex-basis: 100%;
  }

}
